:root {
    --color-main: #ffffff;
    --color-secondary: #f6f7f8;
    --color-tertiary: #fafafa;
    --color-primary: #FF0078;
    --color-border: #cccccc;
    --color-spot: #1ED760;

    --text-light: #ffffff;
    --text-dark: #2E2E3B;
    --text-menu: #2E2E3B;
    --box-shadow: 0 10px 20px rgb(0 0 0 / 20%);
    --box-shadow-hover: 0 12px 22px rgb(0 0 0 / 32%);
    
    --transition-duration: .3s;

    --border-radius: 20px;
    --border-radius-sm: 4px;

    --color-1: #e17076;
    --color-2: #7bc862;
    --color-3: #65aadd;
    --color-4: #a695e7;
    --color-5: #ee7aae;
    --color-6: #6ec9cb;
    --color-7: #faa774;
}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: transparent;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


html, body, #root {
    height: 100%;
}

html {
    overflow-x: hidden;
}

body {
    font-family: Rubik,sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--color-tertiary);
    color: var(--text-dark);
    overflow-x: hidden;
    min-height: 100vh;
}

.container {
    max-width: 850px;
    margin: 0 auto;
    padding: 0 16px;
}
.content {
    padding-left: 116px;
}

.app {
    min-height: 100%;
    position: relative
}

.btn {
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    outline: 0px;
    margin: 0px;
    cursor: pointer;
    user-select: none;
    vertical-align: middle;
    appearance: none;
    text-decoration: none;
    font-weight: 600;
    line-height: 1.75;
    letter-spacing: 0.02857em;
    min-width: 64px;
    padding: 6px 16px;
    font-size: 0.875rem;
    border-radius: 50px;
    transition: var(--transition-duration);
    border: 1px solid var(--text-dark);
    background-color: var(--text-dark);
    color: var(--text-light);
    fill: var(--text-light);
    transition: 0.3s;
    box-shadow: var(--box-shadow);
}
.btn:hover {
    opacity: 0.8;
    box-shadow: var(--box-shadow-hover);
}
.btn.active {
    opacity: 1;
}
.btn.btn-spot {
    color: black;
    fill: black;
    border: 1px solid var(--color-spot);
    background-color: var(--color-spot);
}
.btn.btn-primary {
    color: black;
    fill: black;
    border: 1px solid var(--color-primary);
    background-color: var(--color-primary);
}
.btn svg {
    font-size: 20px;
    width: 1em;
    height: 1em;
    margin-right: 8px;
}
.btn.btn-lg {
    padding: 0.8em 2.5em .98em;
    font-weight: 700;
    font-size: 1.4em;
}
.btn.btn-lg svg {
    width: 1.5em;
    height: 1.5em;
}

.grid {
    display: grid;
}
.grid-sm {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 8px;
}
.flex {
    display: flex;
}
.justify-between {
    justify-content: space-between;
}
.justify-center {
    justify-content: center;
}
.align-center {
    align-items: center;
}
.flex-col {
    flex-direction: column;
}

.border-bottom {
    border-bottom: 1px solid var(--color-tertiary);
}
.border-r {
    border-radius: var(--border-radius-sm);
}

.relative {
    position: relative;
}
.overflow-hidden {
    overflow: hidden;
}

.text-center {
    text-align: center;
}
.text-end {
    text-align: right;
}

.absolute {
    display: absolute;
}

.shadow {
    box-shadow: var(--box-shadow);
}

.filter-shadow {
    filter: drop-shadow(var(--box-shadow));
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.min-h-sm {
    min-height: 575px;
}

.h-screen {
    height: 100vh;
}
.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.flex-grow-0 {
    flex-grow: 0;
}
.flex-grow {
    flex-grow: 1;
}
.gap-1 {
    gap: 10px;
}

.title-1 {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.2;
}
.title-2 {
    font-size: 1.6em;
    font-weight: 400;
    line-height: 1.2;
}
.title-3 {
    font-size: 1.3em;
    font-weight: 400;
    line-height: 1.2;
}
.fs-4 {
    font-size: 1em;
    font-weight: 500;
    line-height: 1;
}
.fs-5 {
    font-size: 0.8em;
    font-weight: 400;
    line-height: 0.9;
}

.text-secondary {
    opacity: 0.5;
}
.text-capitalize {
    text-transform: capitalize;
}

.mx-w-sm {
    max-width: 640px;
}

.px-1 {
    padding-left: 1rem;
    padding-right: 1rem;
}
.p-1 {
    padding: 1rem;
}
.pr-1 {
    padding-right: 1rem;
}

.pb-1 {
    padding-bottom: 3rem;
}
.mt-1 {
    margin-top: 3rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mt-3 {
    margin-top: 1rem;
}
.mt-4 {
    margin-top: 0.5rem;
}

.mx-w-fs {
    max-width: 20px;
    min-width: 20px;
}

.bg-hover {
    transition-duration: var(--transition-duration);
}
.bg-hover:hover {
    background-color: var(--color-tertiary);
}
.bg-gradient {
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(255,0,120,1) 100%);
}
.bg-primary {
    background: var(--color-primary)
}
.bg-main {
    background-color: var(--color-main);
}
.bg-menu {
    background-color: var(--text-menu);
}
.text-menu {
    color: var(--text-menu);
}

a {
    text-decoration: none;
    color: var(--text-dark);
    fill: var(--text-dark);
}

.img-cover {
    border-radius: var(--border-radius-sm);
    margin-right: 1em;
    background: #fafafa;
    transition: opacity .1s linear;
    float: left;
    width: 50px;
    min-width: 50px;
    flex: 50px 0;
    height: 64px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.img-cover.img-cover-grid {
    flex: none;
    width: 100%;
    height: 200px;
}

.item-anim {
    -webkit-transform: translate3d(0,-4px,0);
    transform: translate3d(0,-4px,0);
    opacity: 0;
    -webkit-animation-name: top-drop;
    animation-name: top-drop;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: calc(var(--order) * 150ms);
}
.spinner svg {
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes top-drop {
    0% {
        -webkit-transform: translate3d(0,-4px,0);
        transform: translate3d(0,-4px,0);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
        opacity: 1;
    }
}


@media (max-width: 769px) {
    .btn.btn-lg {
        padding: 0.8em 2.4em .78em;
        font-weight: 700;
        font-size: 1em;
    }

    .title-1 {
        font-size: 3em;
        font-weight: 700;
        line-height: 1.2;
    }
    .title-2 {
        font-size: 1.3em;
        font-weight: 400;
        line-height: 1.2;
    }
    .title-3 {
        font-size: 1em;
        font-weight: 400;
        line-height: 1.2;
    }
    .fs-4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 1.2;
    }
    .fs-5 {
        font-size: 12px;
        font-weight: 400;
        line-height: 1.1;
    }

    .content {
        padding-left: 16px;
        padding-right: 16px;
        padding-top: 0;
        padding-bottom: 100px;
    }

    .grid-sm {
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
    .img-cover.img-cover-grid {
        height: 200px;
    }
}